/* Endless Engine icon styles*/

#theEngine {
    background-color: transparent;
    height: 100px;
    width: 125px;
    position: relative;
    border: 0 none transparent;
}

#chimney-1, #chimney-2, #cloud-1, #cloud-2, #cloud-3, #engine,
#engine-background, #gear, #gear-center, #gear-shadow, #infinity {
    position: absolute;
}

#chimney-1, #chimney-2 {
    transform-origin: 0 24px;
    z-index: 4;
}

#chimney-1 {
    top: 14px;
    left: 65px;
}

#chimney-1.churn {
    animation: oscillation 1s 12 alternate ease-in-out;
}

#chimney-2 {
    top: 14px;
    left: 80px;
}

#chimney-2.churn {
    animation: oscillation 1s 1s 10 alternate ease-in-out;
}

#cloud-1, #cloud-2, #cloud-3 {
    opacity: 0;
    pointer-events: none;
    transform: scale(1, 1);
    z-index: 4;
}

#cloud-1 {
    top: -28px;
    left: 29px;
}

#cloud-1.puff {
    animation: cloud 4s 2;
    animation-delay: 2s;
}

#cloud-2.puff {
    animation: other-cloud 4s 2;
    animation-delay: 3s;
}

#cloud-3.puff {
    animation: cloud 4s 2;
    animation-delay: 4s;
}

#cloud-2 {
    top: -35px;
    left: 36px;
}

#cloud-3 {
    top: -30px;
    left: 6px;
}

#engine {
    top: 38px;
    left: 25px;
    z-index: 1;
}

#engine-background {
    top: 4px;
    left: 5px;
    z-index: 3;
}

#gear {
    top: 25px;
    left: 19px;
    z-index: 4;
}

.churn:is(#gear, #gear-shadow, #infinity) {
    animation: rotation 3s 4 linear;
}

#gear-center {
    top: 38px;
    left: 29px;
    z-index: 5;
}


#gear-shadow {
    top: 28px;
    left: 23px;
    z-index: 2;
}

#infinity {
    top: 45px;
    left: 34px;
    z-index: 6;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes oscillation {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0.7);
    }
}

@keyframes cloud {
    from {
        transform: translate(0, 0) scale(0.1, 0.1) rotate(-30deg);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
    }
    50% {
        transform: translate(50px, -25px) scale(0.5, 0.5) rotate(0deg);
        animation-timing-function: ease-out;
    }
    to {
        transform: translate(100px, -25px) scale(1, 1) rotate(30deg);
        opacity: 0;
    }
}

@keyframes other-cloud {
    from {
        transform: translate(0, 0) scale(0.1, 0.1) rotate(30deg);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
    }
    50% {
        transform: translate(50px, -25px) scale(0.5, 0.5) rotate(0deg);
        animation-timing-function: ease-out;
    }
    to {
        transform: translate(100px, -25px) scale(1, 1) rotate(-30deg);
        opacity: 0;
    }
}

/* Doodler styles */