body {
    background-color: #ceddff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, .a {
    color: #224466;
}

footer {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 10px 20px;
}

header {
    background-color: #ceddff;
    margin: 0;
}

header nav ul {
    justify-content: flex-end;
}

h3 {
    font-weight: bold;
}

nav {
    background-color: #224466;
    color: #fff;
}

nav :is(a, .a) {
    background-color: #224466;
    color: white;
    display: flex;
    font-weight: bold;
    margin: 0 0.5em;
    padding: 0.4em 1.2em;
    text-decoration: none;
}

nav a:hover {
    background-color: #22679a;
    color: #fff;
    text-decoration: underline;
}

nav li.active :is(a, .a) {
    border-bottom: 2px solid white;
}

nav li + li {
    border-left: 1px solid #fff;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1000px;
    padding: 8px 20px;
}

section {
    background-color: #ceddff;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

section > div {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.coffee-btn {
    padding: 20px 0;
}

.header-boi {
    align-items: center;
    /* border-bottom: 16px solid #224466; */
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.header-boi h1 {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 0.2rem;
}

.header-boi h1 .smol-boi {
    color: #000;
    font-size: 0.6em;
}

.header-img {
    width: 200px;
}

.main-list li {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin: 4px;
    padding: 20px 10px;
}

.project-icon {
    height: 128px;
    width: auto;
}

li:is(.row, .project-row) {
    align-items: center;
    display: flex;
    flex-direction: row;
}

li.project-row {
    flex-direction: column;
}

li:is(.row, .project-row) > div {
    flex: 1;
}

.smol-boi {
    color: #224466;
    font-size: 0.8em;
}

#crumbler {
    background: url("/media/crumbs.png") bottom right / contain no-repeat;
    padding-bottom: 72px;
    padding-right: 0;
}

#doodleBox {
    flex: 0 1;
    margin: 0;
    padding: 0;
    position: relative;
    touch-action: none;
}

#doodler {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 550px) {
    li.project-row {
        flex-direction: row;
    }

    #crumbler {
        background: url("/media/crumbs.png") bottom right no-repeat;
        padding-bottom: 36px;
        padding-right: 112px;
    }
        
    .header-boi {
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-start;
    }
}
